{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="Kelompok" content="PBP B02">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>Halaman Informasi Buku</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/templatemo-edu-meeting.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.css' %}">
    <link rel="stylesheet" href="{% static 'css/lightbox.css' %}">
<!--

TemplateMo 569 Edu Meeting

https://templatemo.com/tm-569-edu-meeting

-->

<style>

  .container-popup {
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #873c3a;
    border: 3px solid #888;
    width: 400px;
    padding: 20px;
    
  }
  .container-popup1 {
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff; /* Change background color */
    border: 3px solid #888;
    width: 400px;
    padding: 20px;
    border-radius: 8px; /* Add border radius for a nicer look */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add box-shadow effect */
}

  .popup-content {
    position: relative;
  }

  .form-control {
    width: 100%;
    padding: 10px;
    margin: 6px 0;
    border: 1px solid #b77676;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .btn {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
  }

  .btn-primary {
    background-color: #5989bc;
    color: white;
    transition: background-color 0.3s;
  }

  .btn-primary:hover {
    background-color: #42678f;
  }

  .btn-secondary {
    background-color: #6c757d;
    color: white;
  }

  .btn-secondary:hover {
    background-color: #343a40;
  }

    /* Gaya awal tombol */
  .red-button {
      background-color:  #8c3434;
      color: white;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      margin: 5px;
      transition: background-color 0.3s; /* Efek transisi warna saat diubah */
      border-radius: 8px; 
  }

  /* Gaya tombol saat diklik */
  .blue-button {
      background-color: blue;
  }

  /* Efek hover untuk tombol */
  .red-button:hover {
      background-color: rgb(198, 65, 65); 
  }

</style>
</head>

<body>

  <!-- Sub Header -->
  <div class="sub-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-sm-8">
          <div class="left-content">
            <p>PBP B02</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4">
          <div class="right-icons">
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <nav class="main-nav">
                      <!-- ***** Logo Start ***** -->
                      <a href="index.html" class="logo">
                          BookBuddies
                      </a>
                      <!-- ***** Logo End ***** -->
                      <!-- ***** Menu Start ***** -->
                      <ul class="nav">
                          <li><a href="{% url 'katalog:book_list' %}">Home</a></li>
                          <li><a href="{% url 'bookmarks:bookmark_page' %}" class="active">BookMarked</a></li>
                          <li><a href="#">Recomended</a></li>
                          <li><a href="{% url 'DashboardAdmin:profile' %}">Profile</a></li>
                      </ul>        
                      <a class='menu-trigger'>
                          <span>Menu</span>
                      </a>
                      <!-- ***** Menu End ***** -->
                  </nav>
              </div>
          </div>
      </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <section class="heading-page header-text" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h6>Get all book details</h6>
          <h2>{{book.title}}</h2>
        </div>
      </div>
    </div>
  </section>

  <section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="meeting-single-item">
                <div class="thumb">
                  <a href="{% url 'HalamanInformasiBuku:book_detail' book.id %}"><img src="https://covers.openlibrary.org/b/isbn/{{ book.isbn }}-S.jpg" alt="{{ book.title }}"></a>
                </div>
                <div class="down-content">
                  <a href="{% url 'HalamanInformasiBuku:book_detail' book.id %}"><h4>Information of Book</h4></a>
                  <p>Pengarang: {{ book.authors }}</p>
                  <p>Average Rating: {{ book.average_rating }}</p>
                  <p>ISBN: {{ book.isbn }}</p>
                  <p>ISBN13: {{ book.isbn13 }}</p>
                  <p>Num Pages: {{ book.num_pages }}</p>
                  <p>Text Review Count: {{ book.text_reviews_count }}</p>
                  <p>Publication Date: {{ book.publication_date }}</p>
                  <p>Publisher: {{ book.publisher }}</p>
                  <p>Status: {% if is_book_borrowed %} Dipinjam {% else %} Tersedia {% endif %}</p>
                  <div class="col-lg-12"></div>
                </div>
              </div>
                </div>
              </div>
            </div>

            <!-- Bagian untuk member -->
            <div class="down-content">
              <div class="button-container" style="text-align: center;">
                <a href="#">
                  <button id="review-button" data-bookid="{{ book.id }}" class="red-button">Review</button>
                </a>
                <button id="bookmark-button" data-bookid="{{ book.id }}" class="red-button">Bookmark</button>
                <button type="button" onclick="showPopupForm()" class="red-button">Pinjam</button>
              </div>
            </div>
          
          <!-- Bagian untuk pengguna yang belum terautentikasi -->
          <div class="down-content">
            <p>Silakan <a href="{% url 'katalog:login' %}">Login</a> atau <a href="{% url 'katalog:register' %}">Register</a> untuk melakukan tindakan ini.</p>
          </div>
            


            <div class="col-lg-12">
              <div class="main-button-red">
                <a href="{% url 'katalog:book_list' %}">Back to Book List</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">

      <p>Copyright © 2022 Edu Meeting Co., Ltd. All Rights Reserved. 
          <br>
          Design: <a href="https://templatemo.com" target="_parent" title="free css templates">TemplateMo</a>
          <br>
          Distibuted By: <a href="https://themewagon.com" target="_blank" title="Build Better UI, Faster">ThemeWagon</a>
        </p>
    </div>
  </section>


  <div id="close" style="display: none;">
    <div class="container-popup">
      <form id="ajax-form" method="post" onsubmit="return addLoan();">
        {% csrf_token %}
        <div class="mb-3">
          <h2>Form Pengisian Data</h2>
          <label for="name">Nama:</label>
          <input type="text" id="name" name="name" required class="form-control">
        </div>
        <div class="mb-3">
          <label for="due_date">Tanggal Pengembalian:</label>
          <input type="date" name="due_date" id="due_date" required class="form-control">
        </div>
        <div class="mb-3">
          <label for="address">Alamat:</label>
          <textarea id="address" name="address" required class="form-control"></textarea>
        </div>
        <button type="submit" id="button_add" class="btn btn-primary">Submit Data</button>
        <button type="button" class="btn btn-secondary close" onclick="closePopupForm()">Close</button>
      </form>
    </div>
  </div>

  


  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/isotope.min.js' %}"></script>
    <script src="{% static 'js/owl-carousel.js' %}"></script>
    <script src="{% static 'js/lightbox.js' %}"></script>
    <script src="{% static 'js/tabs.js' %}"></script>
    <script src="{% static 'js/video.js' %}"></script>
    <script src="{% static 'js/slick-slider.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <script>
        //according to loftblog tut
        function addLoan() {
          console.log('Function addLoan is executed!'); 
          const name = document.getElementById('name').value;
          const dueDate = document.getElementById('due_date').value;
          const address = document.getElementById('address').value;

          const data = {
              name: name,
              due_date: dueDate,
              address: address,
          };

          console.log('csrftoken:', csrftoken);  

          fetch("{% url 'HalamanInformasiBuku:tambah_peminjam' book.id %}", {
              method: 'POST',
              body: JSON.stringify(data),
              headers: {
                  'Content-Type': 'application/json',
                  'X-CSRFToken': csrftoken
              }
          })
          .then(response => {
              if (response.ok) {
                  alert('Data berhasil disimpan!');
                  return response.json();
              } else {
                  throw new Error('Gagal menyimpan data');
              }
          })
          .then(data => {
            console.log('Response data:', data);
            document.getElementById("ajax-form").reset();
            closePopupForm();
            // Refresh halaman setelah berhasil
            window.location.reload();
          })
          .catch(error => {
            console.error('Error saving data:', error);
            alert('Terjadi kesalahan saat menyimpan data');
            document.getElementById("ajax-form").reset();
          });

          return false;
      }

        function showPopupForm() {
          document.getElementById("close").style.display = "block";
        }

        function closePopupForm() {
          document.getElementById("close").style.display = "none";
        }
        
        $('.nav li:first').addClass('active');

        var showSection = function showSection(section, isAnimate) {
          var
          direction = section.replace(/#/, ''),
          reqSection = $('.section').filter('[data-section="' + direction + '"]'),
          reqSectionPos = reqSection.offset().top - 0;

          if (isAnimate) {
            $('body, html').animate({
              scrollTop: reqSectionPos },
            800);
          } else {
            $('body, html').scrollTop(reqSectionPos);
          }

        };

        var checkSection = function checkSection() {
          $('.section').each(function () {
            var
            $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
              var
              currentId = $this.data('section'),
              reqLink = $('a').filter('[href*=\\#' + currentId + ']');
              reqLink.closest('li').addClass('active').
              siblings().removeClass('active');
            }
          });
        };

        $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
          e.preventDefault();
          showSection($(this).attr('href'), true);
        });

        $(window).scroll(function () {
          checkSection();
        });


        document.getElementById('review-button').addEventListener('click', function() {
            this.classList.add('blue-button');
            setTimeout(() => {
                this.classList.remove('blue-button');
            }, 1000); 
        });

        document.getElementById('bookmark-button').addEventListener('click', function() {
            this.classList.add('blue-button');
            setTimeout(() => {
                this.classList.remove('blue-button');
            }, 1000); 
        });

        document.querySelector('button[onclick="showPopupForm()"]').addEventListener('click', function() {
            this.classList.add('blue-button');
            setTimeout(() => {
                this.classList.remove('blue-button');
            }, 1000); 
        });

    
        document.getElementById('bookmark-button').addEventListener('click', function () {
            var bookId = this.getAttribute('data-bookid');
            addBookmark(this, bookId);
        });

        function addBookmark(button, bookId) {
            var button = this;

            
            var bookmarkUrl = "{% url 'bookmarks:add_bookmark' 0 %}".replace('0', bookId);

            fetch(bookmarkUrl, {
                method: 'POST',
                body: JSON.stringify({ book_id: bookId }),
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken
                }
            })
            .then(response => {
                if (response.ok) {
                    // Bookmarking successful
                    button.classList.add('blue-button');
                    setTimeout(() => {
                        button.classList.remove('blue-button');
                    }, 1000);
                    return response.json();
                } else {
                    // Bookmarking failed
                    throw new Error('Gagal menambahkan buku ke bookmark.');
                }
            })
            .then(data => {
                // Display success message on the screen
                alert(data.message);
            })
            .catch(error => {
                // Display error message on the screen
                alert(error.message);
            });
        }



    </script>
</body>

</body>

</html>
