
{% load static %}

<!DOCTYPE html>
<html lang="en">

  <style>
    /* CSS */
    .container {
        max-width: 90%; /* Menetapkan lebar maksimum untuk kontainer buku */
        margin: auto; /* Memusatkan kontainer */
    }

    .book-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 20px;
    }

    .templatemo-item-col {
        width: 200px;
        margin-bottom: 20px;
        /* Tambahan gaya lainnya */
    }


  </style>
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Template Mo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>List of Books</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/vendor/bootstrap/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/templatemo-edu-meeting.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.css' %}">
    <link rel="stylesheet" href="{% static 'css/lightbox.css' %}">

<!--

TemplateMo 569 Edu Meeting

https://templatemo.com/tm-569-edu-meeting

-->
  </head>

<body>


  <!-- Sub Header -->
  <div class="sub-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-sm-8">
          <div class="left-content">
            <p>PBP B02</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4">
          <div class="right-icons">
          </div>
        </div>
      </div>
    </div>
  </div>

  <header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="{% url 'katalog:book_list' %}" class="logo">
                        BookBuddies
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    {% if user.is_authenticated %}
                        {% if user.is_admin %}
                            <ul class="nav">
                                <li><a href="{% url 'katalog:book_list' %}">Home</a></li>
                                <li><a href="#">Bookmark</a></li>
                                <li><a href="#">Recommended</a></li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Profile
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="{% url 'admin_dashboard' %}">Open Dashboard</a>
                                        <a class="dropdown-item" href="{% url 'katalog:logout' %}">Logout</a>
                                    </div>
                                </li>
                            </ul>   
                        {% else %}
                            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                                <a class="navbar-brand" href="#">BookBuddies</a>
                                <div class="collapse navbar-collapse" id="navbarNav">
                                    <ul class="navbar-nav ml-auto">
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'DashboardAdmin:profile' %}">Profile</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'katalog:login' %}">Logout</a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        {% endif %}
                    {% else %}
                        <!-- Navbar for Guests -->
                        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                            <a class="navbar-brand" href="#">BookBuddies</a>
                            <div class="collapse navbar-collapse" id="navbarNav">
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'katalog:login' %}">Login</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'katalog:register' %}">Register</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    {% endif %}
                  
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>

  <section class="heading-page header-text" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h6>Get Your Book Here</h6>
          <h2>Book List</h2>
        </div>
      </div>
    </div>
  </section>

  <section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="filters">
                <ul>
                  <li data-filter="*"  class="active">All Books</li>
                  <li data-filter=".soon">Fantacy</li>
                  <li data-filter=".imp">Horor</li>
                  <li data-filter=".att">Attractive</li>
                </ul>
              </div>
            </div>
            <!-- Code sebelumnya -->
            <section class="meetings-page" id="meetings">
                <div class="container">
                    <div class="book-container">
                        {% for book in book_list %}
                            <div class="templatemo-item-col all soon">
                                <div class="meeting-item">
                                    <div class="thumb">
                                        <a href="{% url 'HalamanInformasiBuku:book_detail' book.id %}" data-authenticated="{% if user.is_authenticated %}true{% else %}false{% endif %}">
                                            <img src="https://covers.openlibrary.org/b/isbn/{{ book.isbn }}-S.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="down-content">
                                        <a href="{% url 'HalamanInformasiBuku:book_detail' book.id %}" data-authenticated="{% if user.is_authenticated %}true{% else %}false{% endif %}">
                                            <h4>{{ book.title }}</h4>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
            

            <!-- Your pagination links -->

            <div class="pagination">
                <ul>
                    {% if book_list.has_previous %}
                        <li><a href="?page={{ book_list.previous_page_number }}">Previous</a></li>
                    {% endif %}
                    {% for i in book_list.paginator.page_range %}
                        <li{% if book_list.number == i %} class="active"{% endif %}><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endfor %}
                    {% if book_list.has_next %}
                        <li><a href="?page={{ book_list.next_page_number }}">Next</a></li>
                    {% endif %}
                </ul>
            </div>

            <!-- Code setelahnya -->

          
    <div class="footer">
      <p>Copyright © 2022 Edu Meeting Co., Ltd. All Rights Reserved. 
          <br>
          Design: <a href="https://templatemo.com" target="_parent" title="free css templates">TemplateMo</a>
          <br>
          Distibuted By: <a href="https://themewagon.com" target="_blank" title="Build Better UI, Faster">ThemeWagon</a>
        </p>
    </div>
  </section>


  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/isotope.min.js' %}"></script>
  <script src="{% static 'js/owl-carousel.js' %}"></script>
  <script src="{% static 'js/lightbox.js' %}"></script>
  <script src="{% static 'js/tabs.js' %}"></script>
  <script src="{% static 'js/isotope.js' %}"></script>
  <script src="{% static 'js/video.js' %}"></script>
  <script src="{% static 'js/slick-slider.js' %}"></script>
  <script src="{% static 'js/custom.js' %}"></script>
  
    <script>
        //according to loftblog tut
        $('.nav li:first').addClass('active');

        var showSection = function showSection(section, isAnimate) {
          var
          direction = section.replace(/#/, ''),
          reqSection = $('.section').filter('[data-section="' + direction + '"]'),
          reqSectionPos = reqSection.offset().top - 0;

          if (isAnimate) {
            $('body, html').animate({
              scrollTop: reqSectionPos },
            800);
          } else {
            $('body, html').scrollTop(reqSectionPos);
          }

        };

        var checkSection = function checkSection() {
          $('.section').each(function () {
            var
            $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
              var
              currentId = $this.data('section'),
              reqLink = $('a').filter('[href*=\\#' + currentId + ']');
              reqLink.closest('li').addClass('active').
              siblings().removeClass('active');
            }
          });
        };

        $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
          e.preventDefault();
          showSection($(this).attr('href'), true);
        });

        $(window).scroll(function () {
          checkSection();
        });
        
        function showAlert() {
          alert('Mohon login terlebih dahulu');
        }
    </script>
</body>


</body>

</html>
