
{% load static %}

<!DOCTYPE html>
<html lang="en">

  <style>
    /* CSS */
    .container {
        max-width: 90%; /* Menetapkan lebar maksimum untuk kontainer buku */
        margin: auto; /* Memusatkan kontainer */
    }

    .book-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 20px;
    }

    .templatemo-item-col {
        width: 200px;
        margin-bottom: 20px;
        /* Tambahan gaya lainnya */
    }


</style>
{% endblock %}
{% block navbar %}
{% if user.is_authenticated %}
    {% if user.is_admin %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">BookBuddies</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'recommended' %}">Recommended</a>
                </li>
                <!-- Dropdown for Admin Profile Here -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Profile
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'admin_dashboard' %}">Open Dashboard</a>
                        <a class="dropdown-item" href="{% url 'katalog:logout' %}">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    {% else %}
    <!-- Navbar for Members -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">BookBuddies</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'DashboardAdmin:profile' %}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'katalog:login' %}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    {% endif %}
{% else %}
    <!-- Navbar for Guests -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">BookBuddies</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href=" {% url 'katalog:login' %} ">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'katalog:register' %}">Register</a>
                </li>
            </ul>
        </div>
    </nav>
{% endif %}
{% endblock %}


{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">List of Books</h5>
                    <ul class="list-group list-group-flush">
                        {% for book in book_list %}
                            <div class="templatemo-item-col all soon">
                                <div class="meeting-item">
                                    <div class="thumb">
                                        <a href="{% url 'HalamanInformasiBuku:book_detail' book.id %}" data-authenticated="{% if user.is_authenticated %}true{% else %}false{% endif %}">
                                            <img src="https://covers.openlibrary.org/b/isbn/{{ book.isbn }}-S.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="down-content">
                                        <a href="{% url 'HalamanInformasiBuku:book_detail' book.id %}" data-authenticated="{% if user.is_authenticated %}true{% else %}false{% endif %}">
                                            <h4>{{ book.title }}</h4>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
            

            <!-- Your pagination links -->

            <div class="pagination">
                <ul>
                    {% if book_list.has_previous %}
                        <li><a href="?page={{ book_list.previous_page_number }}">Previous</a></li>
                    {% endif %}
                    {% for i in book_list.paginator.page_range %}
                        <li{% if book_list.number == i %} class="active"{% endif %}><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endfor %}
                    {% if book_list.has_next %}
                        <li><a href="?page={{ book_list.next_page_number }}">Next</a></li>
                    {% endif %}
                </ul>
            </div>

            <!-- Code setelahnya -->

          
    <div class="footer">
      <p>Copyright © 2022 Edu Meeting Co., Ltd. All Rights Reserved. 
          <br>
          Design: <a href="https://templatemo.com" target="_parent" title="free css templates">TemplateMo</a>
          <br>
          Distibuted By: <a href="https://themewagon.com" target="_blank" title="Build Better UI, Faster">ThemeWagon</a>
        </p>
    </div>
  </section>


  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/isotope.min.js' %}"></script>
  <script src="{% static 'js/owl-carousel.js' %}"></script>
  <script src="{% static 'js/lightbox.js' %}"></script>
  <script src="{% static 'js/tabs.js' %}"></script>
  <script src="{% static 'js/isotope.js' %}"></script>
  <script src="{% static 'js/video.js' %}"></script>
  <script src="{% static 'js/slick-slider.js' %}"></script>
  <script src="{% static 'js/custom.js' %}"></script>
  
    <script>
        //according to loftblog tut
        $('.nav li:first').addClass('active');

        var showSection = function showSection(section, isAnimate) {
          var
          direction = section.replace(/#/, ''),
          reqSection = $('.section').filter('[data-section="' + direction + '"]'),
          reqSectionPos = reqSection.offset().top - 0;

          if (isAnimate) {
            $('body, html').animate({
              scrollTop: reqSectionPos },
            800);
          } else {
            $('body, html').scrollTop(reqSectionPos);
          }

        };

        var checkSection = function checkSection() {
          $('.section').each(function () {
            var
            $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
              var
              currentId = $this.data('section'),
              reqLink = $('a').filter('[href*=\\#' + currentId + ']');
              reqLink.closest('li').addClass('active').
              siblings().removeClass('active');
            }
          });
        };

        $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
          e.preventDefault();
          showSection($(this).attr('href'), true);
        });

        $(window).scroll(function () {
          checkSection();
        });
        
        function showAlert() {
          alert('Mohon login terlebih dahulu');
        }
    </script>
</body>


</body>

</html>
