{% extends "base.html" %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'katalog:book_list' %}">BookBuddies</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            {% if request.user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="#">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'authentication:login' %}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'authentication:register' %}">Register</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>

<div class="container">
    {% block katalog_content %}
    {% endblock %}
</div>
{% endblock %}
